In [2]:
# uncomment to install
# !pip install psycopg2-binary

In [1]:
import psycopg2 
import pandas as pd
from pprint import pprint

In [2]:
conn2 = psycopg2.connect(
    host="fit3164db.cxkhqsoitzhb.ap-southeast-2.rds.amazonaws.com", 
    port=5432,
    user="postgres",
    password="fit3164d13edas",
    database = "testdb"
)

In [3]:
conn2.autocommit = True

In [4]:
cursor2 = conn2.cursor()

In [49]:
select_query = (""" select * from customerInfo""")

In [54]:
cursor2.execute(select_query)

In [55]:
data = cursor2.fetchall()
len(data)

4

In [56]:
print(data)

[(1, 'eman', 21.0), (2, 'danielle', 21.0), (3, 'anthony', 22.0), (4, 'sidd', 20.0)]

## TESTING INSERTING OUR TABLES INTO THE DATABASE:

### Actuals pre-covid:

Schema:

- datetime: date format: dd/mm/yyyy hh:mm
- load: float
- pressure: float
- cloud cover: float
- humidity: float
- temperature: float
- wind speed: float
- wind direction: float 
- date: date format: dd/mm/yyyy
- month: int
- hour: int
- type_of_day: int
- covid: int
- holiday: int

In [9]:
actual_pre = pd.read_csv('Train/Actual_Pre.csv')

In [62]:
actual_pre.head()

,Unnamed: 0,time,load_kw,pressure_kpa,cloud_cover,humidity,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,0,2017-03-18 00:00:00,1.031472e+06,1012.48000,2.125,79.333333,16.764386,285.25,6.25375,2017-03-18,00:00:00,3,0,6,0,0
1,1,2017-03-18 01:00:00,1.007206e+06,1011.61875,0.000,82.166667,15.729386,285.00,9.20500,2017-03-18,01:00:00,3,1,6,0,0
2,2,2017-03-18 02:00:00,9.861084e+05,1010.72000,2.125,81.666667,15.816886,316.00,11.28375,2017-03-18,02:00:00,3,2,6,0,0
3,3,2017-03-18 03:00:00,9.707610e+05,1011.37625,17.125,82.250000,15.919386,327.00,7.16875,2017-03-18,03:00:00,3,3,6,0,0
4,4,2017-03-18 04:00:00,9.622584e+05,1011.50000,18.625,82.333333,15.769386,282.25,0.78000,2017-03-18,04:00:00,3,4,6,0,0

### Forecast pre-covid:

Schema:

- datetime: date format: dd/mm/yyyy hh:mm
- load: float
- pressure: float
- cloud cover: float
- temperature: float
- wind speed: float
- wind direction: float 
- date: date format: dd/mm/yyyy
- month: int
- hour: int
- type_of_day: int
- covid: int
- holiday: int

In [8]:
forecasts_pre = pd.read_csv("Train/Forecast_Pre.csv")

In [64]:
forecasts_pre.head()

,Unnamed: 0,cloud_cover,time,pressure_kpa,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,0,3,2017-03-18 00:00:00,1011,14,307,2,2017-03-18,00:00:00,3,0,6,0,0
1,1,4,2017-03-18 01:00:00,1011,14,215,2,2017-03-18,01:00:00,3,1,6,0,0
2,2,4,2017-03-18 02:00:00,1011,14,123,1,2017-03-18,02:00:00,3,2,6,0,0
3,3,4,2017-03-18 03:00:00,1011,14,31,1,2017-03-18,03:00:00,3,3,6,0,0
4,4,4,2017-03-18 04:00:00,1011,14,138,1,2017-03-18,04:00:00,3,4,6,0,0

### Actuals post-covid:

- datetime: date format: dd/mm/yyyy hh:mm
- load: float
- pressure: float
- cloud cover: float
- humidity: float
- temperature: float
- wind speed: float
- wind direction: float 
- date: date format: dd/mm/yyyy
- month: int
- hour: int
- type_of_day: int
- covid: int
- holiday: int

In [65]:
actuals_post = pd.read_csv("Train/Actual_Post.csv")

In [66]:
actuals_post.head()

,Unnamed: 0,time,load_kw,pressure_kpa,cloud_cover,humidity,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,25896,2020-03-01 00:00:00,1.015285e+06,1011.3625,30.125,69.666667,7.869386,210.875,6.31375,2020-03-01,00:00:00,3,0,7,1,0
1,25897,2020-03-01 01:00:00,1.000785e+06,1010.8125,38.625,68.666667,6.786886,77.250,6.74750,2020-03-01,01:00:00,3,1,7,1,0
2,25898,2020-03-01 02:00:00,9.887850e+05,1010.2500,42.375,69.083333,6.174386,48.375,4.29375,2020-03-01,02:00:00,3,2,7,1,0
3,25899,2020-03-01 03:00:00,9.802850e+05,1010.0875,45.250,69.333333,5.776886,64.125,3.03250,2020-03-01,03:00:00,3,3,7,1,0
4,25900,2020-03-01 04:00:00,9.757850e+05,1009.8750,46.750,68.750000,4.811886,60.125,3.16125,2020-03-01,04:00:00,3,4,7,1,0

### Forecasts post-covid:

- datetime: date format: dd/mm/yyyy hh:mm
- load: float
- pressure: float
- cloud cover: float
- temperature: float
- wind speed: float
- wind direction: float 
- date: date format: dd/mm/yyyy
- month: int
- hour: int
- type_of_day: int
- covid: int
- holiday: int

In [67]:
forecasts_post = pd.read_csv("Train/Forecast_Post.csv")

In [68]:
forecasts_post.head()

,Unnamed: 0,cloud_cover,time,pressure_kpa,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,25896,0.0,2020-03-01 00:00:00,1011.0,10.0,36.0,8.0,2020-03-01,00:00:00,3,0,7,1,0
1,25897,1.0,2020-03-01 01:00:00,1011.0,12.0,40.0,8.0,2020-03-01,01:00:00,3,1,7,1,0
2,25898,2.0,2020-03-01 02:00:00,1010.0,12.0,43.0,8.0,2020-03-01,02:00:00,3,2,7,1,0
3,25899,2.0,2020-03-01 03:00:00,1010.0,14.0,47.0,8.0,2020-03-01,03:00:00,3,3,7,1,0
4,25900,5.0,2020-03-01 04:00:00,1010.0,14.0,45.0,8.0,2020-03-01,04:00:00,3,4,7,1,0

## Merging the tables into actual and forecast:

In [75]:
actuals = pd.concat([actual_pre, actuals_post])

In [118]:
actuals.reset_index(inplace=True)

In [131]:
actuals.drop(columns=['Unnamed: 0'], inplace=True)

In [132]:
actuals.head()

,index,time,load_kw,pressure_kpa,cloud_cover,humidity,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,0,2017-03-18 00:00:00,1.031472e+06,1012.48000,2.125,79.333333,16.764386,285.25,6.25375,2017-03-18,00:00:00,3,0,6,0,0
1,1,2017-03-18 01:00:00,1.007206e+06,1011.61875,0.000,82.166667,15.729386,285.00,9.20500,2017-03-18,01:00:00,3,1,6,0,0
2,2,2017-03-18 02:00:00,9.861084e+05,1010.72000,2.125,81.666667,15.816886,316.00,11.28375,2017-03-18,02:00:00,3,2,6,0,0
3,3,2017-03-18 03:00:00,9.707610e+05,1011.37625,17.125,82.250000,15.919386,327.00,7.16875,2017-03-18,03:00:00,3,3,6,0,0
4,4,2017-03-18 04:00:00,9.622584e+05,1011.50000,18.625,82.333333,15.769386,282.25,0.78000,2017-03-18,04:00:00,3,4,6,0,0

In [127]:
forecasts = pd.concat([forecasts_pre, forecasts_post])

In [128]:
forecasts.reset_index(inplace=True)

In [129]:
forecasts.drop(columns=['Unnamed: 0'], inplace=True)

In [130]:
forecasts.head()

,index,cloud_cover,time,pressure_kpa,temperature_c,wind_direction,wind_speed_kmh,date,datetime,month,hour,type_of_day,covid,public_holiday
0,0,3.0,2017-03-18 00:00:00,1011.0,14.0,307.0,2.0,2017-03-18,00:00:00,3,0,6,0,0
1,1,4.0,2017-03-18 01:00:00,1011.0,14.0,215.0,2.0,2017-03-18,01:00:00,3,1,6,0,0
2,2,4.0,2017-03-18 02:00:00,1011.0,14.0,123.0,1.0,2017-03-18,02:00:00,3,2,6,0,0
3,3,4.0,2017-03-18 03:00:00,1011.0,14.0,31.0,1.0,2017-03-18,03:00:00,3,3,6,0,0
4,4,4.0,2017-03-18 04:00:00,1011.0,14.0,138.0,1.0,2017-03-18,04:00:00,3,4,6,0,0

### Create the tables in the database:

In [178]:
create_actuals_table_query = """
CREATE TABLE actuals (id SERIAL PRIMARY KEY, 
                        datetime timestamp NOT NULL,
                        load NUMERIC(15,5),
                        pressure NUMERIC(15,5),
                        cloud_cover NUMERIC(15,5), 
                        humidity NUMERIC(15,5),
                        temperature NUMERIC(15,5),
                        wind_speed NUMERIC(15,5),
                        wind_direction NUMERIC(15,5),
                        date date,
                        month int,
                        hour int, 
                        type_of_day int,
                        covid int, 
                        holiday int
                        )
"""

In [190]:
create_forecasts_table_query = """
CREATE TABLE forecasts (id SERIAL PRIMARY KEY, 
                        datetime timestamp NOT NULL,
                        pressure NUMERIC(15,5),
                        cloud_cover NUMERIC(15,5), 
                        temperature NUMERIC(15,5),
                        wind_speed NUMERIC(15,5),
                        wind_direction NUMERIC(15,5),
                        date date,
                        month int,
                        hour int, 
                        type_of_day int,
                        covid int, 
                        holiday int
                        )
"""

In [180]:
cursor2.execute(create_actuals_table_query)

In [192]:
cursor2.execute(create_forecasts_table_query)

## Inserting values:

In [182]:
for i in actuals.index:
    datetime = actuals['time'][i]
    load = actuals['load_kw'][i]
    pressure = actuals['pressure_kpa'][i]
    cloud_cover = actuals['cloud_cover'][i]
    humidity = actuals['humidity'][i]
    temperature = actuals['temperature_c'][i]
    wind_speed = actuals['wind_speed_kmh'][i]
    wind_direction = actuals['wind_direction'][i]
    date = actuals['date'][i]
    month = actuals['month'][i]
    hour = actuals['hour'][i]
    type_of_day = actuals['type_of_day'][i]
    covid = actuals['covid'][i]
    holiday = actuals['public_holiday'][i]
    
    insert_query = f"insert into actuals (datetime, load, pressure, cloud_cover, humidity, temperature, wind_speed, wind_direction, date, month, hour, type_of_day, covid, holiday) values ('{datetime}', {load},  {pressure}, {cloud_cover}, {humidity}, {temperature}, {wind_speed}, {wind_direction}, '{date}', {month}, {hour}, {type_of_day}, {covid}, {holiday})"
            
#     print(insert_query)
    cursor2.execute(insert_query)

In [193]:
len(forecasts)

33600

In [5]:
for i in forecasts.index:
    datetime = forecasts['time'][i]
    pressure = forecasts['pressure_kpa'][i]
    cloud_cover = forecasts['cloud_cover'][i]
    temperature = forecasts['temperature_c'][i]
    wind_speed = forecasts['wind_speed_kmh'][i]
    wind_direction = forecasts['wind_direction'][i]
    date = forecasts['date'][i]
    month = forecasts['month'][i]
    hour = forecasts['hour'][i]
    type_of_day = forecasts['type_of_day'][i]
    covid = forecasts['covid'][i]
    holiday = forecasts['public_holiday'][i]
    
    insert_query = f"insert into forecasts (datetime, pressure, cloud_cover, temperature, wind_speed, wind_direction, date, month, hour, type_of_day, covid, holiday) values ('{datetime}', {pressure}, {cloud_cover}, {temperature}, {wind_speed}, {wind_direction}, '{date}', {month}, {hour}, {type_of_day}, {covid}, {holiday})"
            
#     print(insert_query)
    cursor2.execute(insert_query)

NameError: name 'forecasts' is not defined

## Adding new columns into the database:

In [5]:
data = pd.read_csv("Train/Compiled.csv")

In [6]:
data.head()

,Unnamed: 0,index,load,pressure,cloud_cov,humid,temp,wind_dir,wind_sp,pressure_f,...,h21,h22,h23,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,datetime
0,0,0,1.031472e+06,1012.48000,2.125,79.333333,16.764386,285.25,6.25375,1011.0,...,0,0,0,0.000000,1.000000,1.0,6.120000e-17,-0.485302,-0.874347,18/3/2017 0:00
1,1,1,1.007206e+06,1011.61875,0.000,82.166667,15.729386,285.00,9.20500,1011.0,...,0,0,0,0.258819,0.965926,1.0,6.120000e-17,-0.485302,-0.874347,18/3/2017 1:00
2,2,2,9.861084e+05,1010.72000,2.125,81.666667,15.816886,316.00,11.28375,1011.0,...,0,0,0,0.500000,0.866025,1.0,6.120000e-17,-0.485302,-0.874347,18/3/2017 2:00
3,3,3,9.707610e+05,1011.37625,17.125,82.250000,15.919386,327.00,7.16875,1011.0,...,0,0,0,0.707107,0.707107,1.0,6.120000e-17,-0.485302,-0.874347,18/3/2017 3:00
4,4,4,9.622584e+05,1011.50000,18.625,82.333333,15.769386,282.25,0.78000,1011.0,...,0,0,0,0.866025,0.500000,1.0,6.120000e-17,-0.485302,-0.874347,18/3/2017 4:00

In [7]:
data.columns

Index(['Unnamed: 0', 'index', 'load', 'pressure', 'cloud_cov', 'humid', 'temp',
       'wind_dir', 'wind_sp', 'pressure_f', 'cloud_cov_f', 'temp_f',
       'wind_dir_f', 'wind_sp_f', 'date', 'month', 'hour', 'type_of_day',
       'day', ' year', 'covid', 'pub_hol', 'tue', 'wed', 'thu', 'fri', 'sat',
       'sun', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct',
       'nov', 'dec', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9',
       'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19',
       'h20', 'h21', 'h22', 'h23', 'hour_sin', 'hour_cos', 'month_sin',
       'month_cos', 'day_sin', 'day_cos', 'datetime'],
      dtype='object')

In [8]:
data = data[['datetime','load', 'pressure_f', 'cloud_cov_f', 'temp_f',
       'wind_dir_f', 'wind_sp_f', 'date', 'month', 'hour', 'type_of_day', ' year']]

In [10]:
cursor2.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'actuals';")
rows = cursor2.fetchall()
pprint(rows)

[('id',),
 ('datetime',),
 ('load',),
 ('pressure',),
 ('cloud_cover',),
 ('humidity',),
 ('temperature',),
 ('wind_speed',),
 ('wind_direction',),
 ('date',),
 ('month',),
 ('hour',),
 ('type_of_day',)]

## Re-insert into Actuals table:

In [22]:
cursor2.execute("drop table actuals")

In [23]:
cursor2.execute(""" CREATE TABLE actuals (id SERIAL PRIMARY KEY, 
                        datetime timestamp NOT NULL,
                        load NUMERIC(15,5),
                        pressure NUMERIC(15,5),
                        cloud_cover NUMERIC(15,5), 
                        temperature NUMERIC(15,5),
                        wind_speed NUMERIC(15,5),
                        wind_direction NUMERIC(15,5),
                        date date,
                        month int,
                        hour int, 
                        type_of_day int
                        )
""")

In [29]:
data['datetime'] = pd.to_datetime(data['datetime'])
data['date'] = pd.to_datetime(data['date'])

/var/folders/34/n9z2vp496dx5gwr2m5_w4p780000gn/T/ipykernel_2897/2028143141.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['datetime'] = pd.to_datetime(data['datetime'])
/var/folders/34/n9z2vp496dx5gwr2m5_w4p780000gn/T/ipykernel_2897/2028143141.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date'] = pd.to_datetime(data['date'])

In [30]:
for i in data.index:
    datetime = data['datetime'][i]
    load =data['load'][i]
    pressure = data['pressure_f'][i]
    cloud_cover = data['cloud_cov_f'][i]
    temperature = data['temp_f'][i]
    wind_speed = data['wind_sp_f'][i]
    wind_direction = data['wind_dir_f'][i]
    date = data['date'][i]
    month = data['month'][i]
    hour = data['hour'][i]
    type_of_day = data['type_of_day'][i]
    
    insert_query = f"insert into actuals (datetime, load, pressure, cloud_cover, temperature, wind_speed, wind_direction, date, month, hour, type_of_day) values ('{datetime}', {load},  {pressure}, {cloud_cover}, {temperature}, {wind_speed}, {wind_direction}, '{date}', {month}, {hour}, {type_of_day})"
            
#     print(insert_query)
    cursor2.execute(insert_query)

## Adding practice tables:

In [11]:
cursor2.execute("drop table pracactuals")

In [5]:
cursor2.execute(""" CREATE TABLE pracactuals (id SERIAL PRIMARY KEY, 
                        datetime timestamp NOT NULL,
                        load NUMERIC(15,5),
                        pressure NUMERIC(15,5),
                        cloud_cover NUMERIC(15,5), 
                        humidity NUMERIC(15,5),
                        temperature NUMERIC(15,5),
                        wind_speed NUMERIC(15,5),
                        wind_direction NUMERIC(15,5),
                        date date,
                        month int,
                        hour int, 
                        type_of_day int,
                        covid int, 
                        holiday int
                        )
""")

In [6]:
cursor2.execute(""" CREATE TABLE pracpredictions (id SERIAL PRIMARY KEY, 
                        datetime timestamp NOT NULL,
                        load NUMERIC(15,5)
                        )
""")

### Add to actuals table: